

/*button {
	background-color : blue;
	color : white;
	margin-left : 10px;
	float : right;
}*/

.Profil{
	float : center;
	background-color : blue;
	color : white;
}

.tabulation {
	margin-left: 20px;
}

header {
	float : right;

}

article {
	float: center;
	margin: auto;
	text-align : center;
	background-color : green;
	margin-top : 50px;
	border-style: solid;
	width : 750px;
}

img {
	height : 100px;
	border-radius:50px;
}