

/*button {
	background-color : blue;
	color : white;
	margin-left : 10px;
	float : right;
}*/


.tabulation {
	margin-left: 50px;
}

header{
	margin-right : 40px;
	margin-top : 0;
	float : center;
}


.Personn {
	float: right;
	margin-right: 40px;
	margin-left: 40px;
}

article {
	float: center;
	margin: auto;
	text-align : center;
	background-color : green;
	margin-top : 50px;
	border-style: solid;
	width : 500px;
	font-size : 1.5em;
}

.article1 {
	background-color : rgba(196, 196, 196, 0.25);
}
.article2 {
	background-color : rgba(212, 27, 27, 1);
}
.article3 {
	background-color : rgba(212, 116, 27, 1);
}
.article4 {
	background-color : rgba(175, 140, 203, 1);
}
.article5 {
	background-color : rgba(140, 203, 200, 1);
}
.article6 {
	background-color : rgba(236, 187, 228, 1);
}

main {
	margin-top : 100px;
}

img {
	height : 100px;
	border-radius:50px;
}

.Coloris{
	font-size : 0.5em;
}