

button {
	background-color : blue;
	color : white;
	margin-left : 10px;
	float : right;
}

.Profil{
	float : center;
	background-color : blue;
	color : white;
}

.tabulation {
	margin-left: 20px;
}

header {
	float : top;

}

article {
	float: center;
	background-color : green;
	margin-top : 50px;
}